{% extends 'layouts/base.twig' %}
{% block content %}
    <main class="projects">
        <article>
            <h1>{{ post.title }}</h1>
            {{ post.get_content | wpautop }}
            <div>{{ post | krumo }}</div>
        </article>
    </main>
    <aside>{{ sidebar }}</aside>
{% endblock %}
